@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>
<h3><a href="Any" target="_blank">Any</a></h3>
<h3><a href="Servers" target="_blank">Server</a></h3>
<h3><a href="Client" target="_blank">Client</a></h3>
<h3><a href="ServerAndClient" target="_blank">ServerAndClient</a></h3>
<h3><a href="Downstream" target="_blank">Downstream</a></h3>